<main>
  <section class="h-96 flex justify-around items-center gap-10 bg-mainColor">
    <div class="text-white text-center">
      <p class="font-semibold text-3xl py-5">
        Survey Rails App.
      </p>
      <p>
        Create your first survey.
      </p>
      <p>
        Start sending surveys to different companies around the world.
      </p>
      <div class="py-5 text-black">
        <%= button_to new_user_registration_path, method: :get, id: "get_started" do %>
          <div class="bg-signIn p-4 rounded-lg">
            <i class="fa-solid fa-circle-arrow-right"></i>
            <span class="ml-1">
              Get started.
            </span>
          </div>
        <% end %>
      </div>
      <p class="text-sm font-semibold">
        survey-rails-app.com
      </p>
    </div>
    <div>
      <%= image_tag("ruby.png", width: "300px") %>
    </div>
  </section>
  <section>
    <div class="flex justify-around p-10">
      <%= image_tag("Amazon.png", width: "150px")  %>
      <%= image_tag("Facebook.png", width: "150px")  %>
      <%= image_tag("Google.png", width: "150px")  %>
      <%= image_tag("Instagram.png", width: "150px")  %>
      <%= image_tag("LinkedIn.png", width: "150px")  %>
      <%= image_tag("Spotify.png", width: "150px")  %>
      <%= image_tag("Twitter.png", width: "150px")  %>
    </div>
    <p class="text-center text-sm font-semibold text-mainColor p-10">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos illum provident voluptatibus minus modi velit numquam quod quidem ad consequatur cum porro iste perferendis laudantium tempora, labore nam et voluptatem!
    </p>
  </section>
  <div class="text-center text-sm text-semibold border-2">
    ---
  </div>
  <section class="h-96 flex justify-around items-center">
    <div>
      <%= image_tag("2126918.jpg", width: "350px") %>
    </div>
    <div>
      <h2 class="font-semibold text-center text-mainColor text-2xl pb-5">Work with your team!</h2>
      <p class="text-sm text-center text-mainColor font-semibold">
        Do you want to know the opinion of your customers, employees or collaborators about some <br>
        aspect of your business or project? of your business or project? A simple and effective way <br> 
        to do this is to create surveys with your team. Surveys allow you to collect valuable information <br>
        to improve your products, services, processes or strategies, processes or strategies. In addition, <br>
        by creating them with your team, you can take advantage of the ideas, skills and experiences of <br>
        each of your team members. and experiences of each of your team members.
      </p>
    </div>
  </section>
  <div class="text-center text-sm text-semibold border-2">
    ---
  </div>
  <section class="h-96 flex justify-around items-center">
    <div>
      <h2 class="font-semibold text-center text-mainColor text-2xl pb-5">Answer the survey.</h2>
      <p class="text-sm text-center text-mainColor font-semibold">
        Answer the surveys in an easy and simple way, just click <br>
        on the send button and the app will send a link for easy <br>
        response to the survey.
      </p>
    </div>
    <div>
      <%= image_tag("4048544", width: "350px") %>
    </div>
  </section>
  <div class="text-center text-sm text-semibold border-2">
    ---
  </div>
  <section class="h-96 flex flex-col justify-around items-center m-32">
    <div>
      <h2 class="font-semibold text-center text-mainColor text-2xl pb-5">Multiple question options</h2>
    </div>
    <div class="flex py-10 w-3/6 justify-between">
      <%= image_tag("2978479", width: "320") %>
      <%= image_tag("check_box_image", width: "250") %>
    </div>
    <div>
      <p class="text-sm text-center text-mainColor font-semibold">
        You have the option to choose between several types of questions
        according to your needs, being able to choose between multiple choice
        or free text questions.
      </p>
    </div>
  </section>
  <div class="text-center text-sm text-semibold border-2">
    ---
  </div>
  <section class="flex flex-col justify-center h-96 m-32">
    <div>
      <h2 class="font-semibold text-center text-mainColor text-2xl pb-5">Ease at your fingertips</h2>
    </div>
    <div class="flex justify-center py-10">
      <%= image_tag("posting_image") %>
    </div>
    <div>
      <p class="text-sm text-center text-mainColor font-semibold">
        designing, sending and viewing survey responses has never been so easy.
      </p>
    </div>
  </section>
</main>