<!DOCTYPE html>
<html>
  <head>
    <title>Survey Rails</title>
    <%= favicon_link_tag asset_path('ruby.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css"  rel="stylesheet" />

    <script src="https://cdn.tailwindcss.com"></script>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/main_navbar' %>
    <%= render partial: 'shared/notifications', locals: { message: flash[:notice] } %>
    <%= render partial: 'shared/notifications', locals: { message: flash[:alert] } %>
    <main class="flex justify-between">
      <div class="w-full">
        <%= yield %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
      </div>
      <% if current_user %>
        <nav class="bg-footerGray p-2">
          <%= render 'shared/right_navbar' %>
        </nav>
      <% end %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>